{% extends "base.html" %}
{% block content %}
    <h1>
        <img id="logo2" src="../static/spray.png" alt="spray bottle" width="70" height="70">
        &nbsp Company Table
    </h1>
    <table>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell|safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}