 <!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
        <meta charset="UTF-8">
        <meta name="description" content="Shopping ethically made easier!
        Check the human rights history of companies before making your purchases!">
        <!--link rel="stylesheet" href='static/style.css'-->
        <title>Human Rights Company Checker</title>
    </head>
     <style>
         body{font-family: "sans-serif";
             background-color: aliceblue;
         }
         #topnav {
             background-color: lightblue;
             overflow: hidden;
}

         table, th, td {
             border: 1px solid black;
         }

         td, th {
             padding: 0.5rem;

         }

     </style>
 <body>
 <div class="topnav">
     <a class="active" href="/">Home</a> ||
     <a href="/company_table">Company Table</a>

 </div><br>
 {% block content %}{% endblock %}

    </body>
</html>