 <!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
        <meta charset="UTF-8">
        <meta name="description" content="Shopping ethically made easier!
        Check the human rights history of companies before making your purchases!">
        <link rel="stylesheet" href='/static/style.css' />
        <title>Human Rights Company Checker</title>
    </head>
 <body>
 <div id="navbar">
    <h6>Company Checker <a href="/">Home</a></h6>
 </div>
    </header>
 {% block content %}{% endblock %}

 </body>
</html>