{% extends "base.html" %}
{% block content %}

<main style="text-align: center">
            <h1> Check the Human Rights History of a Company! </h1>
            <form action="#", method="POST", style="font-size: larger">
                <p><b> Enter a Company Name: </b></p>
                <div id="searchbar"><input type="text" name="company"></div><br>
                <div><input type="submit" value="Submit"></div>
            </form>
        </main>
        <footer>

        </footer>
</body>
</html>
{% endblock %}
