{% extends "base.html" %}
{% block content %}

<main style="text-align: center">
    <h1> Check the Human Rights History of a Company! </h1><br/>
        <form action="#", method="POST", style="font-size: larger">
            <p style="font-size: 25px; color: darkred"><b> Enter a Company Name: </b></p>
                <div id="searchbar"><input type="text" name="company"></div><br>
                <div id="submit"><input type="submit" value="Submit"></div>
        </form>
</main>
</body>
</html>
{% endblock %}
