body {
    font-family: "sans-serif";
    background-color: aliceblue;
}


.header {
    background-color: aliceblue;
    overflow: hidden;
}

table, th, td {
    border: 1px solid black;
}

td, th {
    padding: 0.5rem;
}

main {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 70px;
}

.header {
    background-color: lightblue;
    padding: 20px;
    text-align: left;
}

#logo {
    width: 200px;
    height: 200px;
}

#logo2 {
    vertical-align: middle;
}